@model StokTakipProgrami.Entity.Category

@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "AdminLayout";
}

<div class="main-container">
    <form asp-action="CategoryAdd" method="post">
        <div class="form-group">
            <label for="CategoryName">Kategori Adı</label>
            <input type="text" class="form-control" id="CategoryName" name="CategoryName" value="@Model?.CategoryName" />
        </div>
        <button type="submit" class="btn btn-primary">Kategori Ekle</button>
    </form>
</div>
