@model IEnumerable<StokTakipProgrami.Entity.Category>

@{
	ViewData["Title"] = "CategoryList";
	Layout = "AdminLayout";
	int sıra = 1;
}
<div class="main-container">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@sıra</td>
					<td>@item.CategoryName</td>
					<td>
						<a href="CategoryEdit/@item.CategoryId">Düzenle</a> |
						<a href="CategoryDelete/@item.CategoryId">Sil</a>
					</td>
				</tr>
				sıra++;
			}
		</tbody>
	</table>

	<a href="CategoryAdd" class="btn btn-primary">Yeni Kategori Ekle</a>
</div>

