@model StokTakipProgrami.Entity.Category

@{
	ViewData["Title"] = "CategoryEdit";
	Layout = "AdminLayout";
}
<div class="main-container">
	<form asp-action="CategoryEdit" method="post">
		<input type="hidden" name="CategoryId" value="@Model.CategoryId" />
		<div class="form-group">
			<label for="Name">Kategori Adı </label>
			<input type="text" class="form-control" id="Name" name="Name" value="@Model.CategoryName" />
		</div>
		<button type="submit" class="btn btn-primary">Kategori Güncelle</button>
		<a href="CategoryList.cshtml" class="btn btn-outline-info">İptal</a>
	</form>
</div>